<div class="card">
        <p-table
    #dt1
        styleClass="p-datatable-gridlines"
        [value]="data"
        dataKey="id"
        [rows]="5"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '75rem' }"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-skeleton width="278px" height="46px" styleClass="mb-2" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            @for(column of columns;track column){
                <p-skeleton height="46px" styleClass="mb-2" />
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            @for(item of columns;track item){
                <td>
                    <p-skeleton height="2rem" styleClass="mb-2" />
                </td>
            }
            
        </tr>
    </ng-template>
    </p-table>
    
</div>